body{
  background-color: black;
}



.box{
  margin: 0 auto;
  padding: 2em;
  width: 300px;
  background:#1c1f2b;
  border-radius: 20px;
 height: 300px;
  position: relative;
  
  
}

.box::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: red;
  
  z-index: -1;
  padding: 10px;
}